<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid"></div>
</div>

<div class="container-fluid mt--8">
  <div class="row">
    <div class="col">
      <div class="card" *ngIf="memberModelList.length != 0">
        <div class="card-header">
          <div class="row w-100 m-0">
            <div class="col-sm-6 p-0">
              <div class="d-flex flex-column">
                <h3 class="m-0">Members ({{memberModelList.length || 0}})</h3>
                <!-- <span class="text-sm text-muted" *ngIf="searching == 2">From: {{ fromDate | date: 'dd-MM-yyyy' }} Till:
                    {{ toDate | date: 'dd-MM-yyyy' }}</span> -->
              </div>
            </div>
            <div class="col-sm-6 p-0 text-right">
              <button class="btn btn-default btn-sm " (click)="addNewMember(content,member)">
                Add Member
              </button>
              <!-- <div class="col-sm-6 p-0">
            <div class="d-flex justify-content-end">
              <button  class="btn btn-default btn-sm float-right" (click)="openAdminModal(adminModal)">
                Add Admin
              </button>
            </div>
          </div> -->
            </div>
            <!-- <div class="col-sm-6 p-0">
              <div class="d-flex justify-content-end">
                <button  class="btn btn-default btn-sm float-right" (click)="openAdminModal(adminModal)">
                  Add Admin
                </button>
              </div>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <!-- <th scope="col">Added On</th> -->
                <th scope="col">Age</th>
                <!-- <th scope="col">Address</th> -->
                <th scope="col">Membership</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of memberModelList; index as idx">
                <td>{{ idx + 1 }}</td>
                <td>
                  <div class="d-flex flex-column">
                    <span>{{ member.name }}</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-column">
                    <span>{{ member.email }}</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-column">
                    <span>{{ member.phone }}</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-column">
                    <span>{{ member.age }}</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-column">
                    <span>{{ member?.subscription?.name }}</span>
                  </div>
                </td>
                <!-- <td>
                    <div class="d-flex flex-column">
                      <span>{{ member.address }}</span>
                      <span class="text-sm text-muted">{{ admin.gender | titlecase }}</span>
                    </div>
                </td> -->
                <!-- <td>
                  <button  class="btn btn-default btn-sm"
                    (click)="openAdminRoleModel(roleModal, admin.adminId, admin.roles || null)">Roles</button>
                  <button class="btn btn-default btn-sm" (click)="viewadminDetails(viewModal, admin)">Details</button>
                  <button  class="btn btn-default btn-sm" (click)="openAdminModal(adminModal, admin)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="openDeleteModal(deleteModal, admin)">Delete</button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer" *ngIf="showLoadMore">
          <button class="btn btn-sm btn-default pull-right" (click)="loadMoreadmin()">
            Load More
          </button>
        </div>
      </div>
      <div class="card" *ngIf="memberModelList.length == 0">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <!-- <img src="./../../../assets/img/empty.svg" class="img-fluid" height="256px" width="256px" alt="No Data"> -->
          <h2 class="mt-3 d-flex flex-column align-items-center">
            <span class="text-sm text-muted">No members Records Found</span>
            <!-- <span>{{ today | date: 'MMMM yyyy' }}</span> -->
          </h2>
          <!-- <button *ngIf="canWrite" class="btn btn-default btn-sm float-right mt-5" (click)="openAdminModal(adminModal)">
            Add admin
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" style="margin: 0 auto">Add Member</h1>
    <!-- <button
      type="button"
      class="btn btn-sm icon-shape shadow-none"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="bi bi-x-circle-fill"></i>
    </button> -->
  </div>
  <div class="modal-body">
    <form [formGroup]="memberForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveToFirestore()">
      <div class="form-row">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" />

        <!-- <div class="form-group col-md-6"> -->
        <label for="age">Age</label>
        <input type="text" class="form-control" formControlName="age">
        <!-- </div> -->
      </div>

      <!-- <div class="form-row">
        <div class="form-group col-md-6">
          <label for="age">Age</label>
          <input type="text" class="form-control" formControlName="age">
        </div>

      </div> -->


      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="subscription">Subscription</label>
          <select id="type" class="form-control" formControlName="subscription">
            <option *ngFor="let subscription of subscriptionList" [ngValue]="subscription">{{ subscription.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <label for="address">Address</label>
        <input type="text" class="form-control" formControlName="address" />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="phone">Phone</label>
          <input type="phone" class="form-control" formControlName="phone">
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="email" />
          </div>
        </div>
      </div>

      <div style="float: right">
        <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Close click')">
          Cancel
        </button>
        <button type="submit" class="btn btn-dark btn-sm">Save</button>
      </div>
    </form>
  </div>

</ng-template>