/* Define the CSS classes for the dark and bold columns */
.dark-bold-column {
    font-weight: bold;

    color: rgb(62, 62, 62);
    /* Change the text color to white or your desired color */

    // font-size: ;
    padding: 8px;
    /* Add padding for better spacing */
}