<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="content-container" *ngIf="!loading">

  <div class="header pb-8 pt-5 pt-md-8 ">
    <div class="container-fluid"></div>
  </div>

  <div class="container-fluid mt--8">
    <div class="mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex flex-column">
            <h3 class="m-0">Books ({{booksList.length || 0}})</h3>
            <!-- <span class="text-sm text-muted" *ngIf="searching == 2">From: {{ fromDate | date: 'dd-MM-yyyy' }} Till:
                {{ toDate | date: 'dd-MM-yyyy' }}</span> -->
          </div>
          <div class="row align-items-center">
            <div class="col d-flex justify-content-end align-items-center">
              <form [formGroup]="searchForm">
                <div class="form-row">

                  <div class="col-xl-5">
                    <input type="text" class="form-control form-control-sm" placeholder="Title or ISBN"
                      formControlName="param" />
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="filterBooksByTitle()">
                      Search Book
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary" (click)="openBooksModal(content, null)">
                      Add New
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <!-- <div class="col-12 col-sm-6">
              <form [formGroup]="nameSearchForm" class="d-flex justify-content-between align-items-end"
                (ngSubmit)="onSearchChange(nameSearchForm)" ngNativeValidate>
                <div class="form-group col m-0 p-0 mr-2">
                  <h5>Name search</h5>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-align-left"></i>
                      </span>
                    </div>
                    <input class="form-control form-control-sm" style="padding-left: 8px;" placeholder=""
                      formControlName="name" type="text" required />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                  Search
                </button>

              </form>
            </div>
            <div class="col-12 col-sm-6">
              <form [formGroup]="isbnSearchForm" class="d-flex justify-content-between align-items-end"
                (ngSubmit)="onSearchChange(isbnSearchForm)" ngNativeValidate>˝
                <div class="form-group col m-0 p-0 mr-2">
                  <h5>Mobile search</h5>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-align-left"></i>
                      </span>
                    </div>
                    <input class="form-control form-control-sm" style="padding-left: 8px;" placeholder=""
                      formControlName="mobile" type="text" required />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                  Search
                </button>
              </form>
            </div> -->
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <h4>Alphabet Search</h4>
            </div>
            <div class="col-12">
              <ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
                <li ngbNavItem="#">
                  <a ngbNavLink>#</a>
                </li>
                <li *ngFor="let char of characters" [ngbNavItem]="char">
                  <a ngbNavLink (click)="filterBooksByAlphabet(char)">{{ char | uppercase }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Sr. No.</th>
                  <th scope="col">Title</th>
                  <!-- <th scope="col">Author</th> -->
                  <th scope="col">Tags</th>
                  <th scope="col">Price</th>
                  <th scope="col">ISBN</th>
                  <th scope="col">Total</th>
                  <th scope="col">Available</th>
                  <th scope="col">Issued</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let book of booksList; let i = index">
                <td class="font-weight-light">{{ i + 1 }}</td>
                <td class="font-weight-bold">{{ book.title }}</td>
                <td class="font-weight-bold">{{ book.author }}</td>
                <td>
                  <h4 class="m-0 d-flex flex-wrap" style="gap: 4px 2px">
                    <span
                      class="badge badge-pill badge-primary"
                      *ngFor="let tag of book.tags"
                    >
                      {{ tag.name }}
                    </span>
                  </h4>
                </td>
                <td class="font-weight-bold">
                  {{ book.price | currency : "INR" : "symbol" : "1.0" }}
                </td>
                <td class="font-weight-bold">{{ book.isbn }}</td>
                <td>{{ book.available }}</td>
                <td>{{ book.issued }}</td>
                <td>
                  <a
                    [href]="book.url"
                    [title]="'Cover Image of ' + book.title"
                    class="btn btn-sm btn-outline-dark"
                    target="_blank"
                    >View Cover Image</a
                  >
                  <button
                    class="btn btn-sm btn-dark"
                    (click)="openBooksModal(content, book)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="this.openDeleteModal(deleteModal, book)"
                  >
                    Delete
                  </button>
                </td>
              </tr> -->
                <!-- Update the *ngFor loop to use filteredData -->
                <!-- <tr *ngFor="let book of booksList; let i = index">
                
                <td class="font-weight-light">{{ i + 1 }}</td>
                <td class="font-weight-bold">{{ book.title }}</td>
                <td class="font-weight-bold">{{ book.author }}</td>
                <td>
                  <h4 class="m-0 d-flex flex-wrap" style="gap: 4px 2px">
                    <span class="badge badge-pill badge-primary" *ngFor="let tag of book.tags">
                      {{ tag.name }}
                    </span>
                  </h4>
                </td>
                <td class="font-weight-bold">
                  {{ book.price | currency : "INR" : "symbol" : "1.0" }}
                </td>
                <td class="font-weight-bold">{{ book.isbn }}</td>
                <td>{{ book.available }}</td>
                <td>{{ book.issued }}</td>
                <td>
                  <a [href]="book.url" [title]="'Cover Image of ' + book.title" class="btn btn-sm btn-outline-dark" target="_blank">View Cover Image</a>
                  <button class="btn btn-sm btn-dark" (click)="openBooksModal(content, book)">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="this.openDeleteModal(deleteModal, book)">Delete</button>
                </td>
              </tr> -->
                <tr *ngFor="let book of filteredData; let i = index">
                  <td class="font-weight-light">{{ i + 1 }}</td>
                  <td>
                    <div class="font-weight-bold">{{ book.title }}</div>
                    <div class="font-weight-light">{{ book.author }}</div>
                  </td>
                  <td>
                    <h4 class="m-0 d-flex flex-wrap" style="gap: 4px 2px">
                      <span class="badge badge-pill badge-primary" *ngFor="let tag of book.tags">
                        {{ tag.name }}
                      </span>
                    </h4>
                  </td>
                  <td class="font-weight-bold">
                    {{ book.price | currency : "INR" : "symbol" : "1.0" }}
                  </td>
                  <td class="font-weight-bold">{{ book.isbn }}</td>
                  <td>{{ book.total }}</td>
                  <td>{{ book.total - book.issued }}</td>
                  <td>{{ book.issued }}</td>
                  <td>
                    <a [href]="book.url" [title]="'Cover Image of ' + book.title" class="btn btn-sm btn-outline-dark"
                      target="_blank">View Cover Image</a>
                    <button class="btn btn-sm btn-dark" (click)="openBooksModal(content, book)">Edit</button>
                    <button class="btn btn-sm btn-danger"
                      (click)="this.openDeleteModal(deleteModal, book)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h1 class="modal-title" style="margin: 0 auto">Add Book</h1>
        <!-- <button
        type="button"
        class="btn btn-sm icon-shape shadow-none"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <i class="bi bi-x-circle-fill"></i>
      </button> -->
      </div>
      <div class="modal-body">
        <form [formGroup]="bookForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveToFirestore()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Title</label>
              <input type="text" class="form-control" formControlName="title" />
            </div>
            <div class="form-group col-md-6">
              <label for="author">Author</label>
              <input type="text" class="form-control" formControlName="author" />
            </div>
          </div>
          <div class="form-group">
            <label for="cover">Cover Image</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon01" id="customFile"
                (change)="checkImageType($event.target.files)" />
              <label class="custom-file-label" for="cover"><span *ngIf="tempFile === null">Choose Image File</span>
                <span class="text-limit" *ngIf="tempFile !== null">{{
                  tempFile.name
                  }}</span></label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="isbn">ISBN</label>
              <input type="text" class="form-control" formControlName="isbn" />
            </div>
            <div class="form-group col-md-4">
              <label for="total">Quantity</label>
              <input type="number" class="form-control" formControlName="total" />
            </div>
            <div class="form-group col-md-4">
              <label for="price">Price</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">₹</span>
                </div>
                <input type="number" class="form-control" formControlName="price" />
              </div>
            </div>
          </div>


          <!-- <div class="form-group">
          <label for="inputAddress1">Type of Book</label>
          <select class="form-control" [formControl]="typeControl" (change)="addType($event)">
            <option value="" disabled selected>Select a type</option>
            <option *ngFor="let catalogue of catalogueList" [value]="catalogue?.name">
              {{ catalogue?.name }}
            </option>
          </select>
        </div> -->
          <div class="form-group">
            <label for="type">Type</label>
            <select id="type" class="form-control" formControlName="type" [compareWith]="compareWithCatalogueId">
              <option *ngFor="let type of tempTypeList" [ngValue]="type">{{ type.name }}</option>
            </select>
          </div>
          <!-- <div class="form-row">
          <button
            class="btn btn-sm btn-dark btn-outline-dark mr-2"
            *ngFor="let catalogue of catalogueList ; index as idx"
            type="button"
            (click)="this.removeFromCatalogue(idx)"
          >
            {{ catalogue?.name || "" }}
            <i class="fas fa-times"></i>
          </button>
        </div> -->

          <!-- <div class="form-group">
          <label for="inputAddress2">Tags</label>
          <input
            type="text"
            class="form-control"
            list="tags"
            [formControl]="tagControl"
            (keyup.enter)="addTag($event)"
            (change)="addTag($event)"
          />
          <datalist id="tags">
            <option
              *ngFor="let tag of tagsList"
              [value]="tag?.name || ''"
            ></option>
          </datalist>
        </div> -->

          <div class="form-group m-0">
            <label for="tags" class="text-sm">Tags</label>

            <div class="form-row">
              <button class="btn btn-sm btn-dark btn-outline-dark mr-2 vertical-spacing"
                *ngFor="let tag of tagsList; let idx = index" type="button" [class.selected]="isTagSelected(tag)"
                (click)="addTag(tag)">
                {{ tag.name || " " }}
              </button>
              <button class="btn btn-sm btn-dark btn-dark mr-2 vertical-spacing"
                *ngFor="let tag of inputTags; index as idx" type="button" (click)="this.removeFromTags(idx)">
                {{ tag?.name || " " }}
              </button>
            </div>
          </div>
          <div style="float: right">
            <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Close click')">
              Cancel
            </button>
            <button type="submit" class="btn btn-dark btn-sm">Save</button>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </div> -->
    </ng-template>

    <ng-template #deleteModal let-modal>
      <div class="modal-header d-flex justify-content-between align-items-center">
        <h4 class="modal-title">Are you sure want to delete this book?</h4>
        <button type="button" class="close" aria-label="Close" id="closeModal" #closeModal
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default float-right mr-2" (click)="modal.dismiss('Cross click')">
          NO
        </button>
        <button type="submit" class="btn btn-sm btn-danger float-right mr-2" (click)="deleteBook()" [disabled]="loader">
          YES
          <span *ngIf="loader">&nbsp;</span>
          <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </ng-template>