<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid"></div>
</div>

<div class="container-fluid mt--8">
  <div class="row">
    <!-- Enter Mobile Number Card -->
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header">
          <h2>Enter Mobile Number</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="searchForm">
            <div class="row">
              <div class="col-md-10 form-group">
                <input type="text" id="phoneNumber" placeholder="Enter Phone Number" formControlName="phoneNumber"
                  class="form-control">
              </div>
              <div class="col-md-2 form-group ">
                <button class="btn btn-primary "
                  (click)="getMember(searchForm.controls.phoneNumber.value)">Search</button>
              </div>
            </div>
          </form>
          <!-- Member Data Table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Sr. No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Age</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of memberData; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone }}</td>
                  <td>{{ user.age }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Enter Mobile Number Card -->

    <!-- Select Books Card -->
    <div class="col-12 mt-3">
      <div class="card shadow">
        <div class="card-header">
          <h2>Select Books to Issue</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="searchForm">
            <div class="row">
              <div class="col-md-10 form-group">
                <input type="text" class="form-control custom-input" placeholder="Enter ISBN" formControlName="param" />
              </div>
              <div class="col-md-2 form-group">
                <button type="button" class="btn btn-primary" (click)="filterBooksByISBN()">Search</button>
              </div>
            </div>
          </form>
          <!-- Books Data Table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Sr. No.</th>
                  <th scope="col">Title</th>
                  <th scope="col">ISBN</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of filteredData; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ book.title }}</td>
                  <td>{{ book.isbn }}</td>
                  <td>
                    <button class="btn btn-sm btn-dark" (click)="issueBook(book)">Issue Book</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Select Books Card -->

    <!-- Issued Books Card -->
    <div class="col-12 mt-3">
      <div class="card shadow">
        <div class="card-header">
          <h2>Selected Books</h2>
        </div>
        <div class="card-body">
          <!-- Issued Books Data Table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">S.No.</th>
                  <th scope="col">Title</th>
                  <th scope="col">ISBN</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of issuedBooksList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ book.title }}</td>
                  <td>{{ book.isbn }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary" (click)="saveDataToFirestore()">Submit</button>
        </div>
      </div>
    </div>
    <!-- End Issued Books Card -->
  </div>
</div>