/* In your component's SCSS file */
.custom-navbar {
    background-color: rgb(110, 173, 255);
    color: white;

    /* Example: Style for the links inside the navbar */
    a.nav-link {
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:hover {
            color: #0e1d49;
            /* Change the hover color if desired */
        }


    }

    /* Example: Style for the active link */
    a.nav-link.active {
        background-color: #133290;
        /* Change the active link background color if desired */
        color: white;
    }

    .icon-color {
        color: #ffffff !important;
    }

    a.nav-link.active .icon-color {
        color: white !important;
    }
}

/* styles.css */
.custom-link {
    color: #ffffff !important;
    /* Replace with your custom color code */
}