<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid"></div>
</div>

<div class="container-fluid mt--8">
  <div class="mb-5 mb-xl-0">
    <div class="card shadow">
      <!-- <div class="card-header border-0">
          <div class="d-flex flex-column">
            <h3 class="m-0">Catlogue ({{catalogueList.length || 0}})</h3> -->
      <!-- <span class="text-sm text-muted" *ngIf="searching == 2">From: {{ fromDate | date: 'dd-MM-yyyy' }} Till:
                {{ toDate | date: 'dd-MM-yyyy' }}</span> -->
      <!-- </div>
          <div class="row align-items-center">
            <div class="col d-flex justify-content-end align-items-center">
              <div class="col-sm-6 p-0">
              </div>
              <form>
                <div class="form-row"> -->

      <!-- <div class="col-xl-4">
                    <select class="custom-select custom-select-sm">
                      <option selected>Search by</option>
                      <option value="1">Title</option>
                      <option value="2">Author</option>
                      <option value="3">ISBN</option>
                    </select>
                  </div> -->
      <!-- <div class="col-xl-5">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Enter keyword"
                    />
                  </div> -->
      <!-- <div class="col-auto">
                    <button type="submit" class="btn btn-sm btn-primary">
                      Search
                    </button>
                  </div> -->
      <!-- <div class="col-auto">
                    <button (click)="openCatalogueModal(content, null)" type="submit" class="btn btn-sm btn-primary">
                      Add New
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div> -->
      <div class="card-header">
        <div class="row w-100 m-0">
          <div class="col-sm-6 p-0">
            <div class="d-flex flex-column">
              <h3 class="m-0">Catalogue ({{catalogueList.length || 0}})</h3>
              <!-- <span class="text-sm text-muted" *ngIf="searching == 2">From: {{ fromDate | date: 'dd-MM-yyyy' }} Till:
                    {{ toDate | date: 'dd-MM-yyyy' }}</span> -->
            </div>
          </div>
          <div class="col-sm-6 p-0">
            <div class="d-flex justify-content-end">
              <button class="btn btn-default btn-sm float-right" (click)="openCatalogueModal(content, null)">
                Add New
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Sr. No.</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">Created On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let catalogue of catalogueList; let i = index">
              <td class="font-weight-bold">{{ i + 1 }}</td>
              <td class="font-weight-bold">{{ catalogue.name }}</td>
              <td>
                <h4>
                  <span class="badge badge-pill" [ngClass]="{
                        'badge-success': catalogue.status,
                        'badge-danger': !catalogue.status
                      }">{{ catalogue.status ? "Active" : "Inactive" }}</span>
                </h4>
              </td>
              <td>{{ catalogue.createdOn?.toDate()| date: 'short' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <h1 class="modal-title" style="margin: 0 auto">Add Book</h1> -->
    <!-- <button
        type="button"
        class="btn btn-sm icon-shape shadow-none"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <i class="bi bi-x-circle-fill"></i>
      </button> -->
  </div>
  <div class="modal-body">
    <form [formGroup]="catalogueForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveToFirestore()">
      <div class="form-row">
        <!-- <div class="form-group col-md-6"> -->
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <!-- <div class="form-group col-md-6">
            <label for="author">Author</label>
            <input type="text" class="form-control" formControlName="author" />
          </div> -->
      <!-- </div> -->
      <!-- <div class="form-group">
          <label for="cover">Cover Image</label>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              aria-describedby="inputGroupFileAddon01"
              id="customFile"
              (change)="checkImageType($event.target.files)"
            />
            <label class="custom-file-label" for="cover"
              ><span *ngIf="tempFile === null">Choose Image File</span>
              <span class="text-limit" *ngIf="tempFile !== null">{{
                tempFile.name
              }}</span></label
            >
          </div>
        </div> -->
      <!-- <div class="form-row">
          <div class="form-group col-md-4">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" formControlName="isbn" />
          </div>
          <div class="form-group col-md-4">
            <label for="available">Quantity</label>
            <input
              type="number"
              class="form-control"
              formControlName="available"
            />
          </div> -->
      <!-- <div class="form-group col-md-4">
            <label for="price">Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">₹</span>
              </div>
              <input type="number" class="form-control" formControlName="price" />
            </div>
          </div>
        </div> -->
      <!-- <div class="form-group">
          <label for="inputAddress2">Tags</label>
          <input
            type="text"
            class="form-control"
            list="tags"
            [formControl]="tagControl"
            (keyup.enter)="addTag($event)"
            (change)="addTag($event)"
          />
          <datalist id="tags">
            <option
              *ngFor="let tag of tagsList"
              [value]="tag?.name || ''"
            ></option>
          </datalist>
        </div>
        <div class="form-row"> -->
      <!-- <button
            class="btn btn-sm btn-dark btn-outline-dark mr-2"
            *ngFor="let tag of inputTags; index as idx"
            type="button"
            (click)="this.removeFromTags(idx)"
          >
            {{ tag?.name || "" }}
            <i class="fas fa-times"></i>
          </button>
        </div> -->
      <br>

      <div style="float: right">
        <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Close click')">
          Cancel
        </button>
        <button type="submit" class="btn btn-dark btn-sm">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h4 class="modal-title">Are you sure want to delete this book?</h4>
    <button type="button" class="close" aria-label="Close" id="closeModal" #closeModal
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default float-right mr-2" (click)="modal.dismiss('Cross click')">
      NO
    </button>
    <button type="submit" class="btn btn-sm btn-danger float-right mr-2" (click)="deleteBook()" [disabled]="loader">
      YES
      <span *ngIf="loader">&nbsp;</span>
      <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
  </div>
</ng-template>