.modal-backdrop {
    z-index: auto !important;
}

.modal {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}